#customers {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  border-collapse: collapse;    /*width: 20%;*/
}
#customers td, #customers th {
  border: 2px solid white;
  text-align: left;
}
#customers th {
  background-color: #000000;
  color: white;
}
#customers tr:nth-child(odd) {
  background-color: #bebebe
}
#customers tr:nth-child(2) {
  color: #FF0000;
}
#customers tr:nth-child(3) {
  color: #FF0000;
}
#customers tr:nth-child(4) {
  color: #FF0000;
}
#customers tr:hover {
  background-color: #707038
}
input {
  margin-top: 50px;
  margin-left: 10px;
  width: 100px;
  border-radius: 4px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}
input:focus {
  background-color: lightblue;
  width: 200px;
}
#container {
  width: 280px;
  height: 120px;
  margin-top: 50px;
  position: relative;
  overflow: hidden;  /*border: 1px solid red;*/
}
#slider {
  list-style: none;
  width: 300%;
  height: 100%;
  background-color: #707038;
}
#slider li {
  width: 280px;
  height: 120px;
  float: left;
  position: absolute;
}
#slider-controller {
  position: absolute;
  bottom: 0;
  right: 0;
}
#slider-controller input {
  display: none;
}
#slider-controller label {
  float: left;
  width: 30px;
  height: 30px;
  margin-right: 2px;
  line-height: 30px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}
@keyframes cycle {
  0% {
    left: 0px;
  }
  25% {
    left: 0px;
  }
  33% {
    left: -100%;
  }
  34% {
    left: 200%;
  }
  91% {
    left: 100%;
  }
  100% {
    left: 0px;
  }
}
@keyframes cycletwo {
  0% {
    left: 100%;
  }
  25% {
    left: 100%;
  }
  33% {
    left: 0px;
  }
  58% {
    left: 0px;
  }
  66% {
    left: -100%;
  }
  67% {
    left: 200%;
  }
  100% {
    left: 280px;
  }
}
@keyframes cyclethree {
  0% {
    left: 280px;
    opacity: 0;
  }
  58% {
    left: 280px;
    opacity: 0;
  }
  66% {
    left: 0px;
    opacity: 1;
  }
  91% {
    left: 0px;
    opacity: 1;
  }
  100% {
    left: -280px;
    opacity: 0;
  }
}
#slider li.firstanimation {
  animation: cycle 15s linear infinite;
}
#slider li.secondanimation {
  animation: cycletwo 15s linear infinite;
}
#slider li.thirdanimation {
  animation: cyclethree 15s linear infinite;
}
#slider li:nth-child(1) {
  background-color: #f00;
}
#slider li:nth-child(2) {
  background-color: #0f0;
}
#slider li:nth-child(3) {
  background-color: #00f;
}